/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

 .wac-stickytext {
    width: auto;
    max-width: 500px;
    height: 40px;
    line-height: 40px;
    background-color: #45a147;
    position: fixed;
    right: 30px;
    bottom: 0;
    z-index: 99999;
    color: white;
    text-align: left;
    padding: 0 10px;
    font-size: 15px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-top-left-radius: 3px;
    -moz-border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

a.wac-stickytext:hover {
    color: #fff;
}

.wac-stickytext .wac-wa {
    height: 22px;
    padding: 0;
    text-align: right;
    margin-left: 10px;
    float: right;
    display: inline-block;
}

.wac-wa {
    background: url(../img/wa.png);
    width: 35px;
    height: 35px;
    background-size: contain;
    margin: 9px auto;
    background-repeat: no-repeat;
}